<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sistem Rekomendasi Matakuliah</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
      $(document).ready(function(){

            $("#divBelum").hide();
          $("#sudah").click(function(){
            $("#divSudah").show();
            $("#divBelum").hide();
            $("#sudah").addClass('active');
            $("#belum").removeClass('active');
          });
          $("#belum").click(function(){
            $("#divSudah").hide();
            $("#divBelum").show();
            $("#belum").addClass('active');
            $("#sudah").removeClass('active');
          });
          $("#checkAll").change(function(){  //"select all" change 
            document.getElementById("uncheckAll").checked = false;
	          var status = this.checked; // "select all" checked status
	          $('.select_mk').each(function(){ //iterate all listed checkbox items
	        	  this.checked = status; //change ".checkbox" checked status
          	  });
          });
          $("#uncheckAll").change(function(){  //"select all" change 
            document.getElementById("checkAll").checked = false;
	          $('.select_mk').each(function(){ //iterate all listed checkbox items
	        	  this.checked = false; //change ".checkbox" checked status
          	  });
          });


      });

    
      

      </script>
</head>
<body>

<div class="container" >

  
  <h2>Sistem Rekomendasi Matakuliah </h2>
  <a href="{{url_for('uploadUI')}}" class="btn btn-default pull-right">Upload file Training</a><br><br>
  <form method="POST" action="{{url_for('showMahasiswa')}}">
    <div class="form-group">
      <label for="sel1">Pilih mahasiswa :</label>
      <select class="form-control" id="selMahasiswa" name="nrp">
      {% for item in listMahasiswa %}
        {% if item.nrp == Mahasiswa.nrp %}
          <option value="{{item.nrp}}" selected>{{ item }}</option>
          {% endif %}
          {% if item.nrp != Mahasiswa.nrp %}
          <option value="{{item.nrp}}">{{ item }}</option>
          {% endif %}
      {% endfor %}
      </select>
     
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-info" value="Tampilkan">
     
    </div>
  </form>
</div>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" >Matakuliah :</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active" id="sudah"><a >Sudah diambil</a></li>
            <li id="belum"><a >Belum diambil</a></li>
          </ul>
        </div>
      </nav>
      <div id="divBelum">
    <form action="{{ url_for('rekomendasi') }}" method="POST" name="myForm">
    <font size="3px">
      <input type="checkbox" id="checkAll" style="width: 20px; height: 20px;"> Check All <input type="checkbox" id="uncheckAll" style="width: 20px; height: 20px;"> Uncheck All
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Kode matakuliah</th>
            <th>Nama matakuliah</th>
            <th>Prediksi?</th>
          </tr>
        </thead>
        <tbody>
          {% for item in notTaken %}
          <tr>
            <td>{{item.kode}}</td>
            <td>{{item.nama_matakuliah}}</td>
            <td><input name="prediksi" type="checkbox" value="{{item.kode}}" style="width: 20px; height: 20px;" class="select_mk"></td>
          </tr>
          {% endfor %}
          </tr>
        </tbody>
      </table>
    </font>
    <input type="submit" class="btn btn-info pull-right" value="Lihat Rekomendasi" id="submit">

    <input type="hidden" name="nrp" value="{{Mahasiswa.nrp}}"/>
  </form>
    </div>
    <div id="divSudah">
        <font size="3px">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Kode matakuliah</th>
          <th>Nama matakuliah</th>
          <th>Nilai</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td>{{item.kode_mk}}</td>
          <td>{{item.nama_mk}}</td>
          <td>{{item.nilai}}</td>
        </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </font>
  </div>
  </div>
</body>
</html>
