<style type="text/css">

</style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <div class="container" >
<div class="row">
        <div class="col-xs-12">
            <center><h1>Hasil Rekomendasi Matakuliah {{mahasiswa}}</h1></center>
            <br>
            <br>
        </div>
    <div class="col-xs-6">
        <h3>Content-based filtering</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Kode MK</th>
                    <th>Nama MK</th>
                    <th>Prediksi Nilai</th>
                </tr>
            </thead>
            <tbody>
                {% for item in show %}
                    <tr>
                            <td>{{item.kode_mk}}</td>
                            <td>{{item.nama_mk}}</td>
                            <td>{{item.nilai}}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        <h4>Tentang Content-based filtering</h4>
        <p>Content-based filtering menentukan rekomendasi berdasarkan matakuliah yang telah diambil oleh Mahasiswa.
                File materi dan silabus dari tiap-tiap yang sudah matakuliah akan diekstraksi dan ditentukan kata-kata yang paling berpengaruh terhadap nilai mahasiswa.
                Kemunculan kata-kata tersebut pada file matakuliah yang akan direkomendasi akan menentukan prediksi nilai nya.
                Content-based filtering bekerja lebih baik pada mahasiswa dengan data transkrip yang banyak.</p>
    </div>
    <div class="col-xs-6">
            <h3>Collaborative filtering</h3>
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Kode MK</th>
                    <th>Nama MK</th>
                    <th>Prediksi Nilai</th>
                </tr>
            </thead>
            <tbody>
                    {% for item2 in collabo %}
                        <tr>
                                <td>{{item2.kode_mk}}</td>
                                <td>{{item2.nama_mk}}</td>
                                <td>{{item2.nilai}}</td>
                            </tr>
                        {% endfor %}
                </tbody>
        </table>
        <h4>Tentang Collaborative filtering</h4>
        <p>Collaborative filtering bekerja dengan mencari sekumpulan mahasiswa yang memiliki track record nilai yang mirip
                dengan mahasiswa yang akan dilakukan rekomendasi. sekumpulan mahasiswa tersebut akan menjadi basis rekomendasi.
                Collaborative dapat bekerja dengan baik pada mahasiswa dengan data transkrip yang relatif sedikit.</p>
    </div>
    <div class="col-xs-12">
        <center>
        <br>
                    <a href="{{ url_for('index') }}" class="btn btn-info btn-lg">
                      <span class="glyphicon glyphicon-arrow-left"></span> Kembali
                    </a>
                </center>
    </div>
</div>
</div>