<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> 
        <script type="text/javascript">
        var validFileExtensions = [".jpg", ".jpeg", ".png"]; 
        
            function uploadVerification()
            {
                var x = document.forms["myForm"]["file"].value;
                
                if(x=="")
                {
                    alert("upload file first");
                    return false;
                }
            }
        </script>
    </head>
    <body>
        <center>
            
        <h1>Upload File Untuk Training Data</h1>
        <form name="myForm" method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data" onsubmit="return uploadVerification()">
            <div style=" border-radius:1%; height: auto; width: 800px; margin-top: 3%; padding-top: 1%; padding-bottom: 1%; opacity:0.9;">
                
                    <a href="{{ url_for('index') }}" class="btn btn-info pull-right">
                            <span class="glyphicon glyphicon-arrow-left"></span> Kembali
                          </a><br><br>
                <center>
                            <select class="form-control" id="sel1" name="matkul" style="width: 70%;">
                                {% for item in listMK %}
                                <option value="{{item.kode}}" >{{item}}</option>
                                {% endfor %}
                            </select>
                          <br>
                            <br>
                 <input type="file"name="file" class="btn btn-default btn-md" id="file" ><br>
                 <p>Sistem hanya support file dengan format pdf</p>
                 <input type="submit" value="Upload" style="color: black;" class="btn btn-info btn-md" style="margin-top: 10px;">
                </center>
            </div>
            
        </form>
       
    </body>
</html>

